@use '../animated-slide/generic-animated-slide' as *;

:host.is-active {
  .slide-inner, .slide-text, .slide-content {
    will-change: transform, opacity;
  }
}

.text-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-inner {
  position: sticky;
  top:0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transform: translateY(0) scale(1);
  will-change: auto;

  .slide-text {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
    transform: translateY(100vh);
    opacity: 0;
    will-change: auto;
  }
}
