@use '../animated-slide/generic-animated-slide' as *;

.text-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-inner {
  position: sticky;
  top: var(--inner-top, 0);
  height: 100vh; // pinned height
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  .slide-text {
    position: absolute;
    top: var(--text-top, 100%); // initially below viewport
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 20px;
  }
}
