.slide-container {
  position: relative;
  height: var(--container-height, 200vh);
}

:host(.reveal-slide) {
  z-index: var(--z-index, -1);
  position: relative;
  margin-top: var(--margin-reveal, -200vh);
}

:host(.reveal-slide-top) {
  z-index: var(--z-index, 1);
  position: relative;
  margin-top: var(--margin-reveal, -100vh);
}
