.slide-container {
  position: relative;
  height: var(--container-height, 200vh);
}

:host(.reveal-slide) {
  z-index: var(--z-index, -1);
  position: relative;
  margin-top: -200vh;
}

:host(.reveal-slide-top) {
  z-index: var(--z-index, 1);
  position: relative;
  margin-top: -100vh;
}
