.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ensures at least viewport height */
}

.slides-container {

  height: 100%;       /* match parent height */
}

.menu {
  position: sticky;
  z-index: 12;
  top: 0;
  height: 60px;
  background: #D8315B;
}

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slide-1 {
  top: 0;
  z-index: 2;
}

.slide-2 {
  margin-top: -200vh;
  z-index: 1;
  padding-top: 200vh;
  position: relative;
}
