@use '../animated-slide/generic-animated-slide' as *;

.text-container {
  display: flex;
  width: 50%;
  height: 100%;
  position: relative;
  flex: 1;
}

.slide-inner {
  position: sticky;
  top: 0;
  height: 100vh; // pinned height
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  scale: var(--inner-scale, 1);

  .slide-text {
    position: absolute;
    top: var(--text-top, 100%); // initially below viewport
    text-align: center;
    color: white;
    font-size: 2rem;
  }

  .image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    flex: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
