@use '../animated-slide/generic-animated-slide' as *;

:host.is-active {
  .slide-inner, .slide-text, .slide-content {
    will-change: transform, opacity;
  }
}

.text-container {
  display: flex;
  width: 50%;
  height: 100%;
  position: relative;
  flex: 1;
}

.slide-inner {
  position: sticky;
  top: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  scale: 1;
  will-change: auto;

  .slide-text {
    position: absolute;
    top: 0;
    transform: translateY(100vh);
    text-align: center;
    color: white;
    font-size: 2rem;
    will-change: auto;
  }

  .image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    flex: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
