.slide-container {
  position: relative;
  height: 200vh; // enough height for pin + text scroll
}

.text-container {
  display: flex;
  width: 50%;
  height: 100%;
}

.slide-inner {
  position: sticky;
  top: 0;
  height: 100vh; // pinned height
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;

  .slide-text {
    position: absolute;
    top: 100%; // initially below viewport
    width: 50%;
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 20px;
  }

  .image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
